*~
**/depend
**/static/**
**/staticfiles/
**/localsettings.py
dbdata/
**/*.pyc
**/media/**

**/socialone_connector/**
**/socialone_plugins/**

**/db.sqlite3
.DS_Store
state

**/.next
**/node_modules/

**/**.sqlite3
.env
